body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

main{
    padding-top: 10%;
    width: 84%;
    margin: 0 auto;
    height: 150vh;
}

header{
    width: 100%;
    margin: 0 auto;
}

#topbar{
    width: 100%;
    height: 12%;
    box-shadow: 0 2px 2px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 8%;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1;
}

#header-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header-left a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-weight: 500;
}

#right-margin{
    margin-right: 30px;
}

#logo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    
}

#logo span{
    font-weight: 800;
}

#header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#search-box{
    display: flex;
    align-items: center;
    background-color: rgb(247, 241, 241);
    max-width: 400px;
    height: 30px;
    border-radius: 10px;
    margin-right: 60px;
}

#search-box i{
    margin-left: 10px;
    margin-right: 10px;
    color: #ccc;
}

#search-box input{
    width:100%;
    border: none;
    background-color: rgb(247, 241, 241);
    outline: none;
    font-family: 'Montserrat', sans-serif;
}


#cart{
    position: relative;
}


#cart-value{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#009688 ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:-12px;
    top:-28px;
}

#cart p{
    color: #fff;
}


#header-right img{
    width: 40px;
    border-radius: 50%;
    margin-left: 30px;
}

/* main starts */

#product-section{
    padding-top: 8%;
    display: flex;
}

#image-section{
    width: 40%;
}

#image-section img{
    width:100%;
}

#description{
    padding-left: 5%;
    width: 80%;
}

#description h3{
    padding:15px 0;
}

#description img{
    cursor: pointer;
    width:50px;
    padding:5px;
}

#description > h2,#description > p{
    color:rgb(94, 92, 92);
    width: 70%;
}

#add-cart{
    display: flex;
    flex-direction: column;
    outline: none;
    padding: 18px 36px;
    border-radius: 6px;
    margin-top: 36px;
    font-weight: 600;
    background-color: #009688;
    font-size: 18px;
    border: 0;
    color: white;
    transition: transform 200ms;
    cursor: pointer;
}

#price-colour{
    color:#009688 ;
}

/* footer */

footer{
    width: 100%;
    height: 45vh;
    background-color:rgb(22, 20, 20)
}

#footer-section{
    width:75%;
    margin: 0 auto;
    display: flex;
    color: #fff;
}

#footer-section a{
    text-decoration: none;
    color: #fff;
}

#footer-column{
    width:25%;
    display: flex;
    flex-direction: column;
    line-height: 35px;
}